# Environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Data and Models (Too large for GitHub)
data/
models/*.pth
models/*.h5

# Video and large media
*.mp4
*.avi
*.mov

# System files
.DS_Store
Thumbs.db